In [12]:

import pandas as pd
import time
import requests
import pandas as pd
import numpy as np

import warnings

from datetime import datetime, timedelta


warnings.filterwarnings('ignore')

In [23]:
file_path = 'Odds_data/E0_1718.csv'
df1718 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_1819.csv'
df1819 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_1920.csv'
df1920 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_2021.csv'
df2021 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_2122.csv'
df2122 = pd.read_csv(file_path)

file_path = 'Odds_data/E0_2223.csv'
df2223 = pd.read_csv(file_path)

In [24]:
# Since the user wants to retain all columns and records, we need to set ignore_index to True.
# This will ensure that the concatenated dataframe has a new integer index.

# Concatenating the dataframes along rows with a new index
concatenated_dfs = pd.concat([df1718, df1819, df1920, df2021, df2122, df2223], ignore_index=True)

concatenated_dfs

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2017,Brighton,Man City,0,2,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2017,Everton,Stoke,1,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,28/05/2023,Everton,Bournemouth,1,0,H,0,0,D,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
2276,E0,28/05/2023,Leeds,Tottenham,1,4,A,0,1,A,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
2277,E0,28/05/2023,Leicester,West Ham,2,1,H,1,0,H,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
2278,E0,28/05/2023,Man United,Fulham,2,1,H,1,1,D,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
2279,E0,28/05/2023,Southampton,Liverpool,4,4,D,2,2,D,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

In [26]:
concatenated_dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Columns: 127 entries, Div to AvgCAHA
dtypes: float64(103), int64(16), object(8)
memory usage: 2.2+ MB

In [29]:
# Columns to be dropped as provided by the user
columns_to_drop = [
    'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5',
    'GB>2.5', 'GB<2.5', 'B365>2.5', 'B365<2.5', 'P>2.5',
    'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5',
    'FTHG', 'HG', 'FTAG', 'AG', 'FTR', 'Res', 'HTHG', 'HTAG', 'HTR',
    'Attendance', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HHW', 'AHW',
    'HC', 'AC', 'HF', 'AF', 'HFKC', 'AFKC', 'HO', 'AO', 'HY', 'AY', 'HR', 'AR'
] 


# Dropping the specified columns from the concatenated dataframe

for col in columns_to_drop:
    concatenated_dfs[col] = 0

# Dropping the columns
cleaned_df = concatenated_dfs.drop(columns=columns_to_drop)

cleaned_df.info()  # Display the head of the cleaned dataframe to verify.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 95 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Div        2280 non-null   object
 1   Date       2280 non-null   object
 2   HomeTeam   2280 non-null   object
 3   AwayTeam   2280 non-null   object
 4   B365H      2280 non-null   float64
 5   B365D      2280 non-null   float64
 6   B365A      2280 non-null   float64
 7   BWH        2280 non-null   float64
 8   BWD        2280 non-null   float64
 9   BWA        2280 non-null   float64
 10  IWH        2280 non-null   float64
 11  IWD        2280 non-null   float64
 12  IWA        2280 non-null   float64
 13  LBH        380 non-null    float64
 14  LBD        380 non-null    float64
 15  LBA        380 non-null    float64
 16  PSH        2280 non-null   float64
 17  PSD        2280 non-null   float64
 18  PSA        2280 non-null   float64
 19  WHH        2280 non-null   float64
 20  WHD        2280 non-null   float64
 21  WHA        2280 non-null   float64
 22  VCH        2280 non-null   float64
 23  VCD        2280 non-null   float64
 24  VCA        2280 non-null   float64
 25  Bb1X2      760 non-null    float64
 26  BbMxH      760 non-null    float64
 27  BbAvH      760 non-null    float64
 28  BbMxD      760 non-null    float64
 29  BbAvD      760 non-null    float64
 30  BbMxA      760 non-null    float64
 31  BbAvA      760 non-null    float64
 32  BbAH       760 non-null    float64
 33  BbAHh      760 non-null    float64
 34  BbMxAHH    760 non-null    float64
 35  BbAvAHH    760 non-null    float64
 36  BbMxAHA    760 non-null    float64
 37  BbAvAHA    760 non-null    float64
 38  PSCH       2280 non-null   float64
 39  PSCD       2280 non-null   float64
 40  PSCA       2280 non-null   float64
 41  Time       1520 non-null   object
 42  MaxH       1520 non-null   float64
 43  MaxD       1520 non-null   float64
 44  MaxA       1520 non-null   float64
 45  AvgH       1520 non-null   float64
 46  AvgD       1520 non-null   float64
 47  AvgA       1520 non-null   float64
 48  AHh        1520 non-null   float64
 49  B365AHH    1520 non-null   float64
 50  B365AHA    1520 non-null   float64
 51  PAHH       1520 non-null   float64
 52  PAHA       1520 non-null   float64
 53  MaxAHH     1520 non-null   float64
 54  MaxAHA     1520 non-null   float64
 55  AvgAHH     1520 non-null   float64
 56  AvgAHA     1520 non-null   float64
 57  B365CH     1520 non-null   float64
 58  B365CD     1520 non-null   float64
 59  B365CA     1520 non-null   float64
 60  BWCH       1520 non-null   float64
 61  BWCD       1520 non-null   float64
 62  BWCA       1520 non-null   float64
 63  IWCH       1517 non-null   float64
 64  IWCD       1517 non-null   float64
 65  IWCA       1517 non-null   float64
 66  WHCH       1520 non-null   float64
 67  WHCD       1520 non-null   float64
 68  WHCA       1520 non-null   float64
 69  VCCH       1520 non-null   float64
 70  VCCD       1520 non-null   float64
 71  VCCA       1520 non-null   float64
 72  MaxCH      1520 non-null   float64
 73  MaxCD      1520 non-null   float64
 74  MaxCA      1520 non-null   float64
 75  AvgCH      1520 non-null   float64
 76  AvgCD      1520 non-null   float64
 77  AvgCA      1520 non-null   float64
 78  B365C>2.5  1520 non-null   float64
 79  B365C<2.5  1520 non-null   float64
 80  PC>2.5     1519 non-null   float64
 81  PC<2.5     1519 non-null   float64
 82  MaxC>2.5   1520 non-null   float64
 83  MaxC<2.5   1520 non-null   float64
 84  AvgC>2.5   1520 non-null   float64
 85  AvgC<2.5   1520 non-null   float64
 86  AHCh       1520 non-null   float64
 87  B365CAHH   1519 non-null   float64
 88  B365CAHA   1519 non-null   float64
 89  PCAHH      1520 non-null   float64
 90  PCAHA      1520 non-null   float64
 91  MaxCAHH    1520 non-null   float64
 92  MaxCAHA    1520 non-null   float64
 93  AvgCAHH    1520 non-null   float64
 94  AvgCAHA    1520 non-null   float64
dtypes: float64(90), object(5)
memory usage: 1.7+ MB

In [35]:


# Now, dropping columns with NaN values
final_df = cleaned_df.dropna(axis=1, how='any')

print(final_df.columns)  # Display the head of the dataframe to verify.

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD',
       'WHA', 'VCH', 'VCD', 'VCA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')

In [36]:
# Mapping of abbreviated column names to full names as provided by the key
column_name_mapping = {
    'Div': 'League Division',
    'Date': 'Match Date',
    'HomeTeam': 'Home Team',
    'AwayTeam': 'Away Team',
    'B365H': 'Bet365 Home Win Odds',
    'B365D': 'Bet365 Draw Odds',
    'B365A': 'Bet365 Away Win Odds',
    'BWH': 'Bet&Win Home Win Odds',
    'BWD': 'Bet&Win Draw Odds',
    'BWA': 'Bet&Win Away Win Odds',
    'IWH': 'Interwetten Home Win Odds',
    'IWD': 'Interwetten Draw Odds',
    'IWA': 'Interwetten Away Win Odds',
    'PSH': 'Pinnacle Home Win Odds',
    'PSD': 'Pinnacle Draw Odds',
    'PSA': 'Pinnacle Away Win Odds',
    'WHH': 'William Hill Home Win Odds',
    'WHD': 'William Hill Draw Odds',
    'WHA': 'William Hill Away Win Odds',
    'VCH': 'VC Bet Home Win Odds',
    'VCD': 'VC Bet Draw Odds',
    'VCA': 'VC Bet Away Win Odds',
    'PSCH': 'Pinnacle Closing Home Win Odds',
    'PSCD': 'Pinnacle Closing Draw Odds',
    'PSCA': 'Pinnacle Closing Away Win Odds'
}

final_df = final_df.rename(columns=column_name_mapping)

In [37]:
final_df

,League Division,Match Date,Home Team,Away Team,Bet365 Home Win Odds,Bet365 Draw Odds,Bet365 Away Win Odds,Bet&Win Home Win Odds,Bet&Win Draw Odds,Bet&Win Away Win Odds,...,Pinnacle Away Win Odds,William Hill Home Win Odds,William Hill Draw Odds,William Hill Away Win Odds,VC Bet Home Win Odds,VC Bet Draw Odds,VC Bet Away Win Odds,Pinnacle Closing Home Win Odds,Pinnacle Closing Draw Odds,Pinnacle Closing Away Win Odds
0,E0,11/08/2017,Arsenal,Leicester,1.53,4.50,6.50,1.50,4.60,6.75,...,6.85,1.53,4.20,6.00,1.53,4.50,6.50,1.49,4.73,7.25
1,E0,12/08/2017,Brighton,Man City,11.00,5.50,1.33,11.00,5.25,1.30,...,1.34,10.00,4.80,1.33,10.00,5.50,1.33,11.75,6.15,1.29
2,E0,12/08/2017,Chelsea,Burnley,1.25,6.50,15.00,1.22,6.50,12.50,...,15.25,1.25,5.50,13.00,1.25,6.25,15.00,1.33,5.40,12.25
3,E0,12/08/2017,Crystal Palace,Huddersfield,1.83,3.60,5.00,1.80,3.50,4.75,...,5.11,1.80,3.30,5.00,1.83,3.60,5.00,1.79,3.56,5.51
4,E0,12/08/2017,Everton,Stoke,1.70,3.80,5.75,1.70,3.60,5.50,...,5.81,1.70,3.50,5.50,1.70,3.80,5.75,1.82,3.49,5.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,28/05/2023,Everton,Bournemouth,1.50,4.50,6.50,1.47,4.50,6.50,...,6.54,1.36,4.20,6.50,1.44,4.33,7.00,1.65,4.26,5.31
2276,E0,28/05/2023,Leeds,Tottenham,2.75,3.80,2.30,2.70,3.70,2.37,...,2.36,2.60,3.50,2.20,2.75,3.70,2.30,2.80,3.95,2.39
2277,E0,28/05/2023,Leicester,West Ham,1.91,3.80,3.60,1.95,3.80,3.50,...,3.64,1.85,3.60,3.30,1.90,3.70,3.75,2.11,4.01,3.29
2278,E0,28/05/2023,Man United,Fulham,1.50,4.33,6.00,1.51,4.60,5.75,...,5.84,1.44,4.20,5.50,1.50,4.50,5.75,1.49,5.09,6.14
2279,E0,28/05/2023,Southampton,Liverpool,6.50,4.75,1.44,6.75,5.00,1.42,...,1.43,6.00,4.75,1.33,7.00,5.00,1.40,5.77,4.87,1.53

In [41]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2280 entries, 0 to 2279
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   League Division                 2280 non-null   object
 1   Match Date                      2280 non-null   object
 2   Home Team                       2280 non-null   object
 3   Away Team                       2280 non-null   object
 4   Bet365 Home Win Odds            2280 non-null   float64
 5   Bet365 Draw Odds                2280 non-null   float64
 6   Bet365 Away Win Odds            2280 non-null   float64
 7   Bet&Win Home Win Odds           2280 non-null   float64
 8   Bet&Win Draw Odds               2280 non-null   float64
 9   Bet&Win Away Win Odds           2280 non-null   float64
 10  Interwetten Home Win Odds       2280 non-null   float64
 11  Interwetten Draw Odds           2280 non-null   float64
 12  Interwetten Away Win Odds       2280 non-null   float64
 13  Pinnacle Home Win Odds          2280 non-null   float64
 14  Pinnacle Draw Odds              2280 non-null   float64
 15  Pinnacle Away Win Odds          2280 non-null   float64
 16  William Hill Home Win Odds      2280 non-null   float64
 17  William Hill Draw Odds          2280 non-null   float64
 18  William Hill Away Win Odds      2280 non-null   float64
 19  VC Bet Home Win Odds            2280 non-null   float64
 20  VC Bet Draw Odds                2280 non-null   float64
 21  VC Bet Away Win Odds            2280 non-null   float64
 22  Pinnacle Closing Home Win Odds  2280 non-null   float64
 23  Pinnacle Closing Draw Odds      2280 non-null   float64
 24  Pinnacle Closing Away Win Odds  2280 non-null   float64
dtypes: float64(21), object(4)
memory usage: 445.4+ KB

In [38]:
csv_file_path = '/Users/lkimball/Desktop/Flatiron/CapstoneProject/Odds_data/EPL_Odds_data.csv'
final_df.to_csv(csv_file_path, index=False)